*{
  font-family: 'Roboto', sans-serif;
  box-sizing: border-box;
  list-style: none; /*nao é uma boa pratica mas ficara aqui enquanto não é definido quais itens não terão listagem*/
}
body{
  background-color:#f6f8fc;
}


h1 {
  color:red;
}

/*esta como content da aula*/
.flexsec{
  width: 100vh;
  height: 100vh;
  padding: 1rem;
  background-color: #FFF;
    
}

